/* Create `exercise` counter at first occurrence of class `exercise-count-reset` */
/* Suggestion: apply this class to the `<main/>` element of an HTML document. */
.exercise-count-reset {
  counter-reset: exercise;
}

/* Prevent double-numbering */
ol.exer-cises {
  list-style-type: none;
}

ol.exer-cises > li::marker {
  content: counter(exercise) ". ";
}

ol.exer-cises > li {
  counter-increment: exercise;
  break-after: avoid;
}

ol.exer-cises .subproblems {
  list-style: lower-alpha;
}

/* If you plan on using this, set the `--word-bank-height` property using inline style */
.word-bank {
  height: var(--word-bank-height);
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}

.word-bank > li {
  margin-left: 3px;
  margin-right: 3px;
}

.word-bank.useup {
  list-style-type: "\2610";
}

@media print {
  #form_assignment > .saveButton {
    display: none;
  }
}

/* For answer keys */

.teacher-only {
  color: var(--course-color)
}