.point-list {
  --grid-width: 600px;
  width: var(--grid-width);
}

ul.point-list > li {
  list-style-type: none;
  text-align: center;
}

.point-list.problem-1 {
  display: grid;
  grid-template: "a1 b1 c1 d1"
                 "a2 b2 c2 d2"
                 "o o o o"
}

.point-list.problem-1 > .origin {
  grid-area: o;
}