.fill-blank-activity {
  height: 40vh;
}

.word-bank {
  height: 6em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style-type: "\2610";
}

.teacher-only {
  color: var(--course-color)
}

.blank-word {
  color: var(--blank-word-color);
  text-decoration: underline black;
}